<!-- <ion-content> -->
  <div class="website" style="overflow: hidden; height: fit-content;">
  <div style="margin-top: 100px; overflow: hidden; ">
    <h3 style="color: black;text-align: center; font-weight: bold;">Type of vehicle</h3>
    <form>
      <div id="vechicle">
      <div class="row">
        <div class="col " style="border-color: white; margin-left: 18px; padding-right: 5px; padding-left: 5px;">
        <input type="radio" id="car" name="fav_language" value="Car" (click)="hideHelper('car')" style="accent-color: #002f45;">
        <label for="Car" style="padding-left:2px; font-size: 12px; color: black; font-weight: bold;">Car</label><br>
        </div>
        <div class="col"  style="border-color: white; padding-right: 5px; padding-left: 5px; "> 
        <input type="radio" id="van" name="fav_language" value="Van" style="padding-left: 0px; accent-color: #002f45;" 
         (click)="hideHelper('van')">
        <label for="Van" style="padding-left:2px; font-size: 12px; color: black; font-weight: bold;">Van</label><br>
        </div>
        <div class="col" style="border-color: white; padding-right: 13px; padding-left: 5px;">
        <input type="radio" id="helper" name="fav_language" value="Van with helper" (click)="hideHelper('helper')" style="accent-color: #002f45;">
        <label for="Van with helper" style="padding-left:2px; font-size: 12px; color: black; font-weight: bold;">Van with helper</label>
        </div>
      </div>
        <!-- <input type="submit" value="Submit"> -->
      </div>
  
      <div class="dropudown" *ngIf="!helpers" style="padding-top: 20px; padding-bottom: 10px;">
        <label style="margin-left:10px; color: black;">Number of helpers</label>
        <select style="margin: 5px; margin-left: 10px; border: 1px solid black;" (change)="selectChangeHandler($event)">
          <!-- <option selected="select">0</option> -->
          <option>1</option>
          <option>2</option>
          <!-- <option>House Shifting</option> -->
        </select>
      </div>
    </form>
  </div>
  
  <div style="margin-top: 10px;padding: 10px;">
    <div class="dropdown">
      <label class="bor" style="color: black;">PickUp Address</label>
      <br>
      <input type="text" placeholder="Enter PickUp Address" value="{{sourceLocation}}" #box
        (keyup)="googleSearch(box.value)" style="margin-left: 10px;margin-bottom: 10px; width: 300px;"
        (click)="isOpenPick = !isOpenPick" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    </div>
  </div>
  
  <!-- <ng-template
  cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="isOpenPick" >
<div style="	border: 1px solid #d3d3d3;
margin-top: 20px">
  <div style="	border: 1px solid #d3d3d3;
        margin-top: 20px" *ngIf="autoCompleteItems && autoCompleteItems.length !== 0">
    <mat-card *ngIf="autoCompleteItems && autoCompleteItems.length !== 0">
      <div *ngFor="let item of autoCompleteItems">
        <div (click)="getpicAddress(item)" style="border-bottom: 1px solid #d3d3d3;
               padding: 5px">
          <i class="fa fa-map-marker-alt" style="font-size:16px;color: #002f45;"></i>
          {{item}}
        </div>
      </div>
    </mat-card>
  </div>
</ng-template> -->
<ng-template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="trigger"
[cdkConnectedOverlayOpen]="isOpenPick" *ngIf="autoCompleteItems && autoCompleteItems.length !== 0">
<div style="	border: 1px solid #d3d3d3;
margin-top: 20px; width: 300px;">
<mat-card *ngIf="autoCompleteItems && autoCompleteItems.length !== 0" style="width: 300px;">
<div *ngFor="let item of autoCompleteItems">
<div (click)="getpicAddress(item)" style="border-bottom: 1px solid #d3d3d3;
padding: 5px">
<i class="fa fa-map-marker-alt" style="font-size:16px;color: #002f45;"></i>
 {{item}}
</div>
</div>
</mat-card>
</div>
</ng-template>
  <!-- <br> -->
  
  <div style="padding:10px;">
    <div class="dropdown">
      <label class="bor"  style="color: black;">DropOff Address</label>
      <br>
      <input type="text" placeholder="Enter DropOff Address" value="{{destinationLocation}}" #boxdr
        (keyup)="googleSearchdrops(boxdr.value)" style="margin-left: 10px;margin-bottom: 10px; width: 300px;"
        (click)="isOpendrop = !isOpendrop" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    </div>
  </div>
  <!-- <div style="border: 1px solid #d3d3d3;
            margin-top: 20px" *ngIf="autoComplete && autoComplete.length !== 0">
    <mat-card>
      <div *ngFor="let item of autoComplete">
        <div (click)="getdropAddress(item)" style="border-bottom: 1px solid #d3d3d3;
               padding: 5px">
          <i class="fa fa-map-marker-alt" style="font-size:16px;color: #002f45;"></i>
          {{item}}
        </div>
      </div>
    </mat-card>
  </div><br> -->
  
  <!-- <div style="padding-top: 100px;" *ngIf="autoComplete && autoComplete.length !== 0"> -->
  <ng-template
              cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpendrop" class="cdk-overlay-pane" *ngIf="autoComplete && autoComplete.length !== 0">
        <div style="
        margin-top: 20px; width: 300px; padding-top: 50px;" >
          <mat-card style="width: 300px; margin-top: 50px; ">
            <div *ngFor="let item of autoComplete">
              <div (click)="getdropAddress(item)" style="border-bottom: 1px solid #d3d3d3;
              padding: 5px">
                <i class="fa fa-map-marker-alt" style="font-size:16px;color: #002f45;"></i>
              {{item}}
              </div>
              </div>
             <!-- </button> -->
         </mat-card>
        </div>
         </ng-template>
        <!-- </div> -->
  <div style="padding:10px;">
  <div class="dropdown">
    <label class="bor" style="color: black;">Enter distance</label>
    <br>
    <input type="text" placeholder="Enter distance" readonly="true" value="{{searchText}}" #boxdis (keyup)="getDistance(boxdis.value)"
      style="margin-left: 10px;margin-bottom: 10px;">
  </div>
  </div>
  
  <div id="vechicle">
    <h3 style="text-align:center; padding-top: 10px; font-weight: bold;">Furniture Assembly</h3>
    <div class="row">
      <div class="col" style="border-color: white;  margin-left: 10px;">
        <input type="radio" id="Yes" name="fav_language" value="Yes" (click)="loadtimesFurn('Yes')" style="accent-color: #002f45;"> 
        <label for="Yes" style="padding-left:2px; color: black; font-weight: bold;">Yes</label><br>
      </div>
    <div class="col" style="border-color: white;">
      <input type="radio" id="No" name="fav_language" value="No" (click)="loadtimesFurn('No')" style="accent-color: #002f45;">
      <label for="No" style="padding-left:2px; color: black; font-weight: bold;">No</label><br>
    </div>
    </div>
  </div>
  
  <div style="margin-bottom: 120px;">
    <div class="row" id='loadstart' *ngIf="!loadtimes" >
      <div class="inputBox form-group col" style="border: white; width: 250px;">
        <!-- <button> -->
        <div class='input-group date ' id='datetimepicker5' style="padding-left: 10px;">
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" (blur)="timepick($event)"
            name="time" id="time1" placeholder="Loading time start" style="background: #133c50; color:white;  text-align: center;">
        </div>
      <!-- </button> -->
      </div>
      
  
      <!-- <div class="inputBox form-group col" style="border: white;">
        <div class='input-group date ' id='datetimepicker6'>
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" (blur)="timepick1($event)"
            name="time" id="time2" placeholder="Loading time end">
          </div>
        </div> -->
        <div class="inputBox form-group col" style="border: white;">
          <div class='input-group date ' id='datetimepicker2' style="padding-right: 10px;">
            <input class="form-control input-group-addon glyphicon glyphicon-time inputColor" (blur)="timepick3($event)"
              name="time" id="time4" placeholder="Unloading time end" 
              style="background: #133c50;color:white;text-align: center;">
          </div>
        </div>

      </div>
    
    <!-- <div class="row"> -->
      <!-- <div class="inputBox form-group col" style="border: white;">
        <div class='input-group date ' id='datetimepicker1'>
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" ngModel="load_stat"
            (blur)="timepick2($event)" name="time" id="time3" placeholder="Unloading time start">
        </div>
      </div> -->
      <!-- <div class="inputBox form-group col" style="border: white;">
        <div class='input-group date ' id='datetimepicker2'>
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" (blur)="timepick3($event)"
            name="time" id="time4" placeholder="Unloading time end">
        </div>
      </div> -->
    <!-- </div> -->

    <div style="border-color: white; margin-left: 10px; margin-top: 15px;">
      <input type="checkbox" id="vehicle1" name="vehicle1" value="VAT"  (change)="VATchange($event)" 
      style="accent-color: #002f45;">
      <label style="margin-left:2px; font-weight: bold; color: black;">Add VAT</label>
    </div>
  
  <!-- <div *ngIf="!loadunloadtimes">
    <div class="row">
      <div class="inputBox form-group col" style="border: white;">
        <div class='input-group date' id='datetimepicker5'>
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" (blur)="timepick($event)"
            name="time" id="time1" placeholder="Loading time start">
        </div>
      </div>
  
      <div class="inputBox form-group col" style="border: white;">
        <div class='input-group date ' id='datetimepicker2'>
          <input type='text' class="form-control input-group-addon glyphicon glyphicon-time" (blur)="timepick3($event)"
            name="time" id="time4" placeholder="Unloading time end">
        </div>
      </div>
      </div>
  </div> -->
  
  
  
  <div class="inputBox form-group col" style="border: white;">
    <div *ngIf="!carhide" style="margin-top: 10px;">
      <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare without VAT: € {{tripFare.fare1}}</p>
    </div>
    <div *ngIf="!carVat" style="margin-top: 10px;">
     <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare with VAT: € {{tripFare.fare1}}</p>
    </div>
  
    <div *ngIf="!vanhide" style="margin-top: 10px;">
      <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare without VAT : € {{tripFare.fare2}}</p>
    </div>
  
    <div *ngIf="!vanVat" style="margin-top: 10px;">
      <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare with VAT : € {{tripFare.fare2}}</p>
    </div>
  
    <div *ngIf="!helperhide" style="margin-top: 10px;">
      <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare without VAT: € {{tripFare.fare4}}</p>
    </div>
    <!-- With vat =total fare (17/100)+ total fare-->
    <div *ngIf="!vatAddnone" style="margin-top: 10px;">
      <p style="font-size: 15px; color: black; font-weight: bold; text-align: center;"> Total fare with VAT: € {{tripFare.fare4}}</p>
    </div>
  </div>
  
  <!-- <section class="footer"> -->
  <div class="get estimation" style="justify-content: center;">
    <button class="btn" style="background: #002f45;color: white;width: -webkit-fill-available; margin-bottom: 0%;"
      (click)="Estimate()">CALCULATE FARE</button>
  </div>


  <!-- </section> -->
  <!-- contact section ends -->
  <section class="footer" style="margin-top: 2vh;">
  
    <div class="box-container">

        <div class="box">
            <h3 style="font-weight: bold;">About us</h3>
            <p style="text-align: justify;">Moving your items can be less stressful and fun with MyCarrio. From the moment of packing through loading to the point of delivery, we got you covered. We also take care of your courier concerns at a very affordable price and within the shortest period</p>
        </div>
        <div class="box">
            <h3 style="font-weight: bold;">Address</h3>
            <a class="addr" href="https://www.google.co.in/maps/place/6A+Av.+des+Hauts-Fourneaux,+4362+Esch-sur-Alzette,+Luxembourg/@49.502772,5.9483024,17z/data=!3m1!4b1!4m5!3m4!1s0x47eacad357e0ea03:0x43645cfd8317d3ec!8m2!3d49.5027685!4d5.9504911?hl=en-GB"> <i class="fas fa-map-marker-alt"></i> 6a Av. des Hauts-Fourneaux, 4362 Esch-sur-Alzette, Luxembourg</a>
            <a class="addr"><i class="fas fa-phone-alt"></i> +352661346068</a>
        </div>
        <div class="box">
            <a href="#home">Home</a>
            <a href="#services">Services</a>
            <a href="#pricing">Pricing</a>
            <a routerLink="/delivery-partner">Delivery Partner</a>
            <a routerLink="/policy">Privacy Policy</a>
          
        </div>
        <div class="box">
          <h3 style="font-weight: bold;">Supported By</h3>
          <img src="assets/powered.png" class="powered" alt="">
        </div>
        <div class="box">
            <h3 style="font-weight: bold;">Follow us</h3>
            <a href="https://www.facebook.com/CarrioEuropeLogistics/">Facebook</a>
            <a href="https://www.instagram.com/mycarriologistics/?utm_medium=copy_link">Instagram</a>
       
            <a href="https://lu.linkedin.com/company/mycarrio?trk=public_profile_experience-item_profile-section-card_subtitle-click">Linkedin</a>
        </div>
        
    </div>

    <h1 class="credit"> &copy; <span> Mycarrio </span> | All Rights Reserved! </h1>


</section>

</div>

</div>