
<!-- delivery partner section starts -->
<div class="drive" style="overflow: hidden;">
    <section class="book1" id="delivery-partner">
    
        <h1 class="heading1">
            <span>d</span>
            <span>r</span>
            <span>i</span>
            <span>v</span>
            <span>e</span>
            <span>r</span>
            <span>s</span>
           
        </h1>
    
        <div class="row">
    
            <div class="image">
                <img src="assets/home-img-try.png" alt="">
            </div>
    
            <div class="form1">
                <div class="content">
                    <button type="button" routerLink="/fare-calculator" (click)="calculator()"
                     class="btn" style="width: -webkit-fill-available;color: white;background: #002f45;" >
                      Fare calculator
                    </button>
                </div>
                <div class="content">
                    <button type="button" routerLink="/calculation" (click)="calculation()"
                     class="btn" style="width: -webkit-fill-available;color: white;background: #002f45;" >
                       calculator
                    </button>
                </div>
                <div class="content">
                    <p style="text-align: justify;">We are looking for enthusiastic delivery partners. As a delivery partner, you have the opportunity to earn as you go. We offer the best working relationship.
                    </p>
                </div>
                <div class="box-container" style="padding-left: 0px;padding-right: 0px;">
                    <div class="box">
                        <i class="fas fa-car"></i>
                        <h3 style="font-weight: bold;">Join with us</h3>
                        <p></p>
                    </div>
                    <div class="box">
                        <i class="fas fa-coins"></i>
                        <h3 style="font-weight: bold;">Earn more</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    
    </section> 
   
    <!-- delivery partner section ends -->
    
    
    <!-- footer section starts -->
    
    
    <div class="footer">
    
        <div class="box-container">
    
            <div class="box">
                <h3 style="font-weight: bold;">About us</h3>
                <p style="text-align: justify;">Moving your items can be less stressful and fun with MyCarrio. From the moment of packing through loading to the point of delivery, we got you covered. We also take care of your courier concerns at a very affordable price and within the shortest period</p>
            </div>
            <div class="box">
                <h3 style="font-weight: bold;">Address</h3>
                <a class="addr" href="https://www.google.co.in/maps/place/6A+Av.+des+Hauts-Fourneaux,+4362+Esch-sur-Alzette,+Luxembourg/@49.502772,5.9483024,17z/data=!3m1!4b1!4m5!3m4!1s0x47eacad357e0ea03:0x43645cfd8317d3ec!8m2!3d49.5027685!4d5.9504911?hl=en-GB"> <i class="fas fa-map-marker-alt"></i> 6a Av. des Hauts-Fourneaux, 4362 Esch-sur-Alzette, Luxembourg</a>
                <a class="addr"><i class="fas fa-phone-alt"></i> +352661346068</a>
            </div>
            <div class="box">
                <a href="index.html">Home</a>
                <!-- <a href="#book">drivers</a> -->
                <a href="#services">Services</a>
                <a href="#pricing">Pricing</a>
                <a routerLink="/delivery-partner">Delivery Partner</a>
                <a routerLink="/policy">Privacy Policy</a>
                <!-- <a href="#gallery">team</a>
                <a href="#review">review</a> -->
                <!-- <a href="#contact">contact</a> -->
            </div>
            <div class="box">
                <h3 style="font-weight: bold;">Supported By</h3>
                <img src="assets/powered.png" class="powered" alt="">
              </div>
            <div class="box">
                <h3 style="font-weight: bold;">Follow us</h3>
                <a href="https://www.facebook.com/CarrioEuropeLogistics">Facebook</a>
                <a href="https://www.instagram.com/mycarriologistics/?utm_medium=copy_link">Instagram</a>
              
                <a href="https://lu.linkedin.com/company/mycarrio?trk=public_profile_experience-item_profile-section-card_subtitle-click">Linkedin</a>
            </div>
    
        </div>
    
        <h1 class="credit"> &copy; <span> Mycarrio </span> | All Rights Reserved! </h1>
    
    </div>
  </div>