
<!-- delivery partner section starts -->

<section class="book1" id="book">

    <h1 class="heading1">
        <span>d</span>
        <span>r</span>
        <span>i</span>
        <span>v</span>
        <span>e</span>
        <span>r</span>
        <span>s</span>
       
    </h1>

    <div class="row">

        <div class="image">
            <img src="assets/home-img-try.png" alt="">
        </div>

        <div class="form1" action="">
            <div class="content">
                <p>We are looking for enthusiastic delivery partners. As a delivery partner, you have the opportunity to earn as you go. We offer the best working relationship.
                </p>
            </div>
            <div class="box-container">
                <div class="box">
                    <i class="fas fa-car"></i>
                    <h3>join with us</h3>
                    <p></p>
                </div>
                <div class="box">
                    <i class="fas fa-coins"></i>
                    <h3>Earn more</h3>
                    <p></p>
                </div>
            </div>

            <!-- <div class="inputBox">
                <h3>Pickup</h3>
                <input type="text" id="fromloc" placeholder="Enter pickup">
            </div>
            <div class="inputBox">
                <h3>Destination</h3>
                <input type="type" id="toloc" placeholder="Enter Destination">
            </div>
            <div class="inputBox">
                <h3>Date</h3>
                <input type="date">
            </div> 
            <div class="inputBox">
                <h3>leaving</h3>
                <input type="date">
            </div>
            <input type="submit" class="btn" value="get fare"> -->
        </div>

    </div>

</section> 

<!-- delivery partner section ends -->



<!-- footer section starts -->


<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Moving your items can be less stressful and fun with MyCarrio. From the moment of packing through loading to the point of delivery, we got you covered. We also take care of your courier concerns at a very affordable price and within the shortest period</p>
        </div>
        <div class="box">
            <h3>Address</h3>
            <a class="addr"> <i class="fas fa-map-marker-alt"></i> 6a Av. des Hauts-Fourneaux, 4362 Esch-sur-Alzette, Luxembourg</a>
            <a class="addr"><i class="fas fa-phone-alt"></i> +352661346068</a>
        </div>
        <div class="box">
            <a href="index.html">home</a>
            <!-- <a href="#book">drivers</a> -->
            <a href="index.html#services">services</a>
            <a href="index.html#pricing">pricing</a>
            <a href="delivery-partner.html">Delivery Partner</a>
            <!-- <a href="#gallery">team</a>
            <a href="#review">review</a> -->
            <!-- <a href="#contact">contact</a> -->
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <h1 class="credit"> &copy; <span> Mycarrio </span> | all rights reserved! </h1>

</section>

<!-- footer section ends -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>